<!doctype html>
<html>

<head>
    <% include partials/resourses/styles-bootstrap %>
    <link rel="stylesheet" href="styles/style.css">
    <title><%=identity.title %></title>
</head>

<body>
    <div class="container">
        <% include partials/frontend/header %>
        <% include partials/frontend/nav %>
        <main class="han-main">
            <h2>Error 404: Nothing here</h2>
        </main>
        <% include partials/frontend/footer %>
    </div>

    <% include partials/resourses/scripts-bootstrap %>
</body>

</html>