
<div class="col-sm">
    <h2>title 1</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, libero. Eum exercitationem culpa voluptatem? Tempore ipsum
    nisi consequatur, odio distinctio illo dolorum corrupti sapiente sunt cumque vel repellat adipisci illum.
</div>
<div class="col-sm">
        <h2>title 2</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea laudantium id vel aspernatur aliquam! Deserunt tempore ratione
    nulla ducimus rerum non deleniti, ipsam, beatae in, eveniet quibusdam maxime est nostrum.
</div>
<div class="col-sm">
        <h2>title 3</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, sit dolorum excepturi velit consequatur quod amet dolorem
    magnam blanditiis adipisci maiores, voluptas, cumque minus eum incidunt nam tenetur impedit laborum?
</div>
