<nav class="han-nav">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="/signin">Sign In</a>
            </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/backend">Backend</a>
        </li>
    </ul>
</nav>
<script src="scripts/script.js"></script>