<nav class="han-nav">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
         </li>
        <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="/signin">Sign In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/pages">Pages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/dashboard">Backend</a>
        </li>
    </ul>
</nav>
<script src="/scripts/script.js"></script>