.han-header{
    margin:25px 0px;
    border-bottom: 1px solid gray;
}

.han-nav{
    margin-bottom: 25px;
}

.han-main{
    min-height: 60vh;
}

.han-footer{
    border-top: 1px solid gray;
    padding-top: 5px;
}

.han-usrforms{
    width:50%;
}


.backend-nav .nav-link{
    background-color:blue;
    color:white;
    border-bottom: 1px white solid;
}

.backend-nav .nav-link.active{
    background-color:gray;
    color:white;
}

.backend-nav .nav-link:hover{
    background-color:gray;
    color:white;
}